scripts/rpi_ocr/venv
scripts/rpi_tts/venv
/notebooks/TTS/mozilla-tts/models/
/notebooks/TTS/mozilla-tts/TTS/
.idea
/scripts/rpi_tts/models/
/scripts/rpi_tts/TTS/
/notebooks/TTS/mozilla_tts_tensorflow/TTS/
/notebooks/TTS/mozilla_tts_tensorflow/models/
/notebooks/TTS/tensorflow-TTS/TensorFlowTTS/
